*{
    margin:0;
    padding: 0;
    color:black;
    font-size: 'Times New Roman', Times, serif;
}
#container{
    display:flex;
    width: 40%;
    flex-direction: column;
    margin: 15px auto;
    border: 1px solid black;
    background-color: #b6b2b2;
    height: 92vh;
    padding: 1%;
}
/**/
#title{
    display: grid;
    justify-content: center;
    margin-bottom: 5%;
}
#ajustes button{
    position: absolute;
    overflow: hidden;
    margin-left: -10.5%;
    margin-top: 2.5%;
}
#title a{
    justify-self: center;
    text-decoration: none;
}
#title a:hover{
    color:#6b6b6b;
}
#title img{
    width: 25px;
    height: 25px;
    overflow: visible;
    position: absolute;
}
/**/
#selector{
    display: grid;
    justify-content: center;
    font-size: 150%;
    margin-bottom: 5%;
}
/**/
#result{
    display: grid;
    justify-content: center;
    font-size: 150%;
    margin-bottom: 5%;
    text-align: center;
}
#resultado{
    background-color: #82bd8f;
}
#lastresultado{
    background-color: #95bd82;
}
